body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FAEDEF;
  
}

#cy2 {
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #EDF1FA;
  border-top: 1px solid #ccc;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.space-container ,.space-pad{
  padding:10px 0px 10px 0px;
}

.box-gray{
  border:1px solid lightgray;
  min-height:25px;
  padding:10px 5px 5px 10px;
}

.space-detail{
  padding:5px 0px 5px 10px;
}

select{
    max-width:100px;
}

#tabs > li > a{
    background:#f0f0f0;
}

#tabs > li.active > a{
    background: #fbfbfb;
}

.tab-content{
    padding: 20px;
    background-color: #fbfbfb;
    border-left: #dddddd 1px solid;
    border-right: #dddddd 1px solid;
    border-bottom: #dddddd 1px solid;
}

.label-light{
    background: #f0f0f0;
    color:#b5b5b5;
}

#drop > li.active > a > span.label{
    background: #4889c1;
    color:#8dbae0;
}

.panel{
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.network{
    height:500px;width:100%; border: 1px solid lightgray;
    background:white;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}